@model PokemonCRUD.Models.PokemonType1ViewModel

@{
    ViewData["Name"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Pokemons" asp-action="Index" method="get">
    <p>
        <select asp-for="PokemonType1" asp-items="Model.Type1">
            <option value="">All</option>
        </select>

        Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pokemons[0].IdPokedex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pokemons[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pokemons[0].Type1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pokemons[0].Type2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pokemons[0].Evolution)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pokemons)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPokedex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Evolution)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
